include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.rst
graft uptimerobot
global-exclude *.orig *.pyc *.log *.swp
prune uptimerobot/tests/coverage
prune uptimerobot/.ropeproject
